<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nullhome">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:hasFragileUserData="false"
        android:label="NullHome"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <!-- OHO+ launches this to open Samsung Recents -->
        <activity
            android:name=".RecentsBridgeActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Actual HOME -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:taskAffinity="">

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--
             App drawer runs in a separate process.
             Closing it allows the entire :drawer process to disappear.
        -->
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:taskAffinity="dev.nullhome.drawer"
            android:process=":drawer"
            android:theme="@android:style/Theme.Material.NoActionBar" />

    </application>

</manifest>
